%article.contact.thumbnail{ id: contact.id }
  %header.col-xs-12
    %h3= contact.title
    %section.ctrl
      %span.btn.btn-primary.btn-xs
        = link_to edit_contact_path(contact) do
          %span.glyphicon.glyphicon-pencil
      %span.btn.btn-primary.btn-xs
        = link_to contact, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %span.glyphicon.glyphicon-trash

  %address
    %abbr{title: "main"}= "m."
    =link_to contact.email, "mailto:#{contact.email}"
    %br

    -contact.phone_numbers.each do |phone|
      %abbr{title: phone.phone_type}= "#{phone.phone_type[0]}."
      =phone.phone
      %br

    - if contact.has_address?
      %h4 Address
      =contact.address1
      %br

      -unless contact.address2.blank?
        =contact.address2
        %br

      ="#{contact.city}, #{contact.state} #{contact.postal_code}"