!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Abductees - Contact Manager

    %meta{ :name => "description", :content => "Contact Manager for Aliens" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}

    = stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'
    = csrf_meta_tags
  %body
    %header
      = render :partial => "layouts/header"
    %main.container
      %section#alerts
        -unless flash[:error].blank?
          %section.alert.alert-danger
            = flash[:error]
            
        -unless flash[:info].blank?
          %section.alert.alert-success
            = flash[:info]

      %section#content
        = yield

    %footer
      %p
        = image_tag "face.png", class: "image-responsive"
        &copy;
        = "#{Date.today.year}"
        Alien Abducted Software, LLC.
